*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: regular;
}



/* NAVBAR */

.navbar-container{
  width: 100%;
  height: 70px;
  background-color: #1E3A8A;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}



.main-navbar{
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aliceblue; */
}


.main-nav-left{
  min-width: fit-content;
  height: fit-content;
  /* background-color: pink; */
  
}

.main-nav-left > p{
  font-family: head;
  font-size: 30px;
  color: white;
}


.main-nav-right{
  width: 210px;
  height: 100%;
  /* background-color: peru; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#nav-login{
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#nav-login:hover{
  text-decoration: underline;
}

#nav-btn{
  font-size: 20px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 15px;
}

#nav-btn:hover{
  transition: 300ms;
  background-color: #FFC107;
  border-color: #FFC107;
  color: #1E3A8A;
  font-weight: 700;
}




.tablet-navbar{
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.tab-nav-right{
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

@keyframes burger1 {
  from{ rotate: 45deg; }
  to{ rotate: 0deg; }
}

@keyframes burger2 {
  from{ rotate: 135deg; }
  to{ rotate: 180deg; }
}

#nav-burger{
  color: white;
  font-size: 35px;
  rotate: 45deg;
  animation: burger1 150ms 1 forwards linear;
}

#nav-burger2{
  color: white;
  font-size: 35px;
  rotate: 135deg;
  animation: burger2 150ms 1 forwards linear;
}


.tab-navbar-slide-cover{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

@keyframes slide {
  from { translate: -100%; }
  to { translate: 0; }
}

.tab-navbar-slide{
  width: 450px;
  height: 100%;
  background-color: #1E3A8A;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 100px 20px 0;
  animation: slide 250ms 1 forwards linear;
}

.tab-navbar-slide-option{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

#nav-option{
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}







/* LANDING PAGE */

/* HERO SECTION */

.landing-wrapper{
  width: 100%;
  height: fit-content;
}


.hero-section{
  width: 100%;
  height: 800px;
  background-color: #1E3A8A;
  display: flex;
  justify-content: center;
  padding: 0 40px 150px;
}

.hero-container{
  width: 1200px;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
}

.hero-left{
  width: 500px;
  height: fit-content;
  /* background-color: black; */
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-left-main{
  width: 100%;
  height: fit-content;
}

.hero-left-main > h2{
  color: white;
  font-size: 75px;
}

.hero-left-sub{
  width: 100%;
  height: fit-content;
}

.hero-left-sub > p{
  color: white;
  font-size: 16px;
}

.hero-left-buttons{
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  display: flex;
  gap: 20px;
}

#hero-butn{
  font-size: 20px;
  font-weight: bold;
  color: #1E3A8A;
  text-decoration: none;
  background-color: #FFC107;
  border-radius: 5px;
  padding: 15px 20px;
}

#hero-butn:hover{
  transition: 300ms;
  background-color: #fdcd40;
}





.hero-right{
  width: 200px;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  /* background-color: black; */
}

img#hero-lady{
  width: 450px;
}







/* WHY US SECTION */

.why-us-section{
  width: 100%;
  height: fit-content;
  padding: 70px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.why-us-section > h2{
  font-size: 35px;
}

.why-us-section > p{
  font-size: 18px;
  line-height: 1.5;
  width: 1200px;
}


.features-wrap{
  width: 1200px;
  height: 300px;
  /* background-color: bisque; */
  margin-top: 15px;
  overflow: hidden;
}

@keyframes feat-slide {
  0% { transform: translateY(0); }
  48% { transform: translateY(0); }
  50% { transform: translateY(-290px); }
  98% { transform: translateY(-290px); }
  100% { transform: translateY(0); }
}

.feature-card-holder{
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px 10px;
  animation: feat-slide 9s infinite linear;
}

.feature-card{
  height: 250px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.feature-card > h2{
  font-size: 20px;
  margin: 25px 0 5px;
}

.feature-card > p{
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.feature-card:hover{
  transition: 300ms;
  scale: 1.03;
}

#card-icon{
  font-size: 70px;
  color: #1E3A8A;
}







/* DASHBOARD */

.dashboard-wrapper{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr;
}

.dash-options-panel{
  display: flex;
  flex-direction: column;
  background-color: #1E3A8A;
}

.dash-logo-area{
  width: 100%;
  height: 70px;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin-bottom: 20px;
}

.dash-logo-area > p{
  color: white;
  font-size: 30px;
  cursor: pointer;
}


.dash-section-options{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dash-option{
  width: 100%;
  height: 50px;
  /* background-color: #0056B3; */
  display: flex;
  align-items: center;
  padding-left: 25px;
  gap: 15px;
}

.dash-option > p{
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.dash-option:hover{
  transition: 200ms;
  cursor: pointer;
  background-color: #0056B3;
}

#option-icon{
  font-size: 26px;
  color: white;
}





.dash-display-area{
  display: flex;
  flex-direction: column;
}


.get-loan-section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-progress-section{
  width: 100%;
  height: 70px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 40px;
}

.form-progress{
  width: fit-content;
  min-width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: gray;
}

.progress-number{
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loan-mid-section{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 40px 0;
  color: #1E3A8A;
}

.loan-mid-section > h4{
  font-size: 18px;
}

.loan-duration{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loan-duration > h4{
  font-size: 18px;
}

.select-duration-wrapper{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.select-duration{
  width: 100px;
  height: 45px;
  border: 1px solid #1E3A8A;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}

.select-duration:hover{
  border: 2px solid #1E3A8A;
}



.dash-bottom-section{
  width: 100%;
  height: 110px;
  background-color: aliceblue;
  display: flex;
  align-items: start;
  justify-content: end;
  padding: 10px 40px 0;
  gap: 30px;
}

button#dash-bottom-butn{
  width: fit-content;
  height: 45px;
  border: 2px solid #1E3A8A;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 600;
  color: #1E3A8A;
}

button#dash-bottom-butn:hover{
  transition: 200ms;
  cursor: pointer;
  background-color: #1E3A8A;
  color: white;
}



.laon-input-wrapper{
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column; 
  gap: 10px;
  color: #1E3A8A;
  
}

.bank-select-div{
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  position: relative;
}

#bank-chevron{
  position: absolute;
  right: 15px;
  font-size: 20px;
  
}



.bank-select-dropdown{
  width: 100%;
  height: 300px;
  border: 1px solid;
  position: absolute;
  top: 40px;
  left: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.bank-option{
  width: 100%;
  height: fit-content;
  padding: 5px 15px;
}

.bank-option:hover{
  background-color: aliceblue;
  cursor: pointer;
}


.laon-input-wrapper > input{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  outline: 1px solid #1E3A8A;
  font-size: 18px;
  color: #1E3A8A;
}

.laon-input-wrapper > input:focus{
  outline: 3px solid #1E3A8A;
}




/* BANK ACCOUNT SECTION */

.bank-acc-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  color: #1E3A8A;
}

.empty-bank-acc{
  width: 100%;
  height: fit-content;
  padding: 40px;
}

.empty-bank-acc > h4{
  font-size: 18px;
}

.add-bank-acc{
  width: 300px;
  height: 250px;
  border: 2px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-bank-acc > p{
  font-size: 40px;
}

.add-bank-acc:hover{
  border: 3px solid;
  cursor: pointer;
}


.acc-type-wrapper{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  /* background-color: pink; */
}

.account-options{
  width: fit-content;
  height: fit-content;
  /* background-color: white; */
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.type-selector{
  width: 100px;
  height: 45px;
  border: 3px solid #1E3A8A;
  border-radius: 5px;
  position: absolute;
  transition: 200ms;
}



















/* RESPONSIVENESS */

@media screen and (max-width: 1300px) {
  .main-navbar{
    width: 100%;
  }
  .hero-container{
    width: 100%;
  }
  .why-us-section > p{
    width: 100%;
  }
  .features-wrap{
    width: 100%;
  }
}


@media screen and (max-width: 1050px) {
  .hero-section{
    height: 700px;
    padding: 0 40px 75px;
  }
  .hero-left{
    width: 420px;
  }
  .hero-left-main > h2{
    font-size: 65px;
  }

  img#hero-lady{
    width: 400px;
  }
}


@media screen and (max-width: 899px) {
  .main-navbar{
    display: none;
  }
  .tablet-navbar{
    display: flex;
  }
  .main-nav-left > p{
    font-size: 25px;
  }
  .hero-section{
    height: fit-content;
  }
  .hero-container{
    height: fit-content;
    flex-direction: column;
    padding-top: 100px;
  }
  .hero-left{
    width: 100%;
  }
  .hero-right{
    width: 100%;
    height: fit-content;
    justify-content: center;
  }
  .hero-left-main > h2{
    font-size: 50px;
  }

  .features-wrap{
    height: fit-content;
  }
  .feature-card-holder{
    grid-template-columns: 1fr 1fr;
    animation-name: none;
  }
}


@media screen and (max-width: 520px) {
  .navbar-container{
    padding: 0 20px;
  }
  .tab-navbar-slide{
    width: 100%;
  }

  .hero-section{
    padding: 0 20px 40px;
  }
  .hero-left-main > h2{
    font-size: 40px;
  }
  .hero-left-buttons{
    flex-direction: column;
  }
  #hero-butn{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  img#hero-lady{
    width: 90%;
  }

  .why-us-section{
    padding: 50px 20px 40px;
  }
  .why-us-section > h2{
    font-size: 25px;
  }
  .feature-card-holder{
    grid-template-columns: 1fr;
  }
}
