*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: regular;
}

.nairalender-app{
  width: 100%;
  height: fit-content;
  display: flex;
}



/* NAVBAR */

.navbar-container{
  width: 100%;
  height: 70px;
  background-color: #1E3A8A;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}



.main-navbar{
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aliceblue; */
}


.main-nav-left{
  min-width: fit-content;
  height: fit-content;
  /* background-color: pink; */
  
}

.main-nav-left > p{
  font-family: head;
  font-size: 30px;
  color: white;
}


.main-nav-right{
  width: 500px;
  height: 100%;
  /* background-color: peru; */
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

.main-nav-right > p{
  font-size: 18px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: end;
  text-wrap: nowrap;
}

#nav-login{
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#nav-login:hover{
  text-decoration: underline;
}

#nav-btn{
  font-size: 20px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 15px;
}

#nav-btn:hover{
  transition: 300ms;
  background-color: #FFC107;
  border-color: #FFC107;
  color: #1E3A8A;
  font-weight: 700;
}

.logout-div{
  min-width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  /* background-color: aquamarine; */
}

.logout-div > p{
  color: white;
}

.logout-div:hover{
  cursor: pointer;
}

#logout-icon{
  font-size: 25px;
  color: white;
}




.tablet-navbar{
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.nav-dash-wrap{
  width: 100%;
  height: 70px;
  background-color: #1E3A8A;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
}

.tab-nav-right{
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

@keyframes burger1 {
  from{ rotate: 45deg; }
  to{ rotate: 0deg; }
}

@keyframes burger2 {
  from{ rotate: 135deg; }
  to{ rotate: 180deg; }
}

#nav-burger{
  color: white;
  font-size: 35px;
  rotate: 45deg;
  animation: burger1 150ms 1 forwards linear;
}

#nav-burger2{
  color: white;
  font-size: 35px;
  rotate: 135deg;
  animation: burger2 150ms 1 forwards linear;
}


.tab-navbar-slide-cover{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

@keyframes slide {
  from { translate: -100%; }
  to { translate: 0; }
}

.tab-navbar-slide{
  width: 450px;
  height: 100%;
  background-color: #1E3A8A;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 100px 20px 0;
  animation: slide 250ms 1 forwards linear;
}

.tab-navbar-slide-option{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.tab-navbar-slide-option > p{
  color: white;
  font-size: 22px;
  font-weight: 600;
}

#nav-option{
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}







/* LANDING PAGE */

/* HERO SECTION */

.landing-wrapper{
  width: 100%;
  height: fit-content;
}


.hero-section{
  width: 100%;
  height: 800px;
  background-color: #1E3A8A;
  display: flex;
  justify-content: center;
  padding: 70px 40px 0;
}

.hero-container{
  width: 1200px;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.hero-left{
  width: 500px;
  height: fit-content;
  /* background-color: black; */
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@keyframes hero-text {
  from { transform: translateY(100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes sub-text {
  from { transform: translateX(-120px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.hero-left-main{
  width: 100%;
  height: fit-content;
  animation: hero-text 600ms 1 forwards linear;
}

.hero-left-main > h2{
  color: white;
  font-size: 75px;
}

.hero-left-sub{
  width: 100%;
  height: fit-content;
  opacity: 0;
  animation: sub-text 600ms 500ms 1 forwards linear;
}

.hero-left-sub > p{
  color: white;
  font-size: 16px;
}

.hero-left-buttons{
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  display: flex;
  gap: 20px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#hero-butn{
  font-size: 20px;
  font-weight: bold;
  color: #1E3A8A;
  text-decoration: none;
  background-color: #FFC107;
  border-radius: 5px;
  padding: 15px 20px;
  animation: 600ms 2s 1 linear;
}

#hero-butn:hover{
  transition: 300ms;
  background-color: #fdcd40;
}





.hero-right{
  width: 200px;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  /* background-color: black; */
  position: relative;
}

@keyframes hero-img {
  from{ transform: translateY(100%); opacity: 0; }
  to{ transform: translateY(0); opacity: 1; }
}

img#hero-lady{
  width: 570px;
  position: absolute;
  opacity: 0;
  right: -40px;
  animation: hero-img 800ms 800ms 1 forwards linear;
}







/* WHY US SECTION */

.why-us-section{
  width: 100%;
  height: fit-content;
  background-color: white;
  padding: 70px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: relative;
  z-index: 5;
}

.why-us-section > h2{
  font-size: 35px;
}

.why-us-section > p{
  font-size: 18px;
  line-height: 1.5;
  width: 1200px;
}


.features-wrap{
  width: 1200px;
  height: 300px;
  /* background-color: bisque; */
  margin-top: 15px;
  overflow: hidden;
}

@keyframes feat-slide {
  0% { transform: translateY(0); }
  48% { transform: translateY(0); }
  50% { transform: translateY(-290px); }
  98% { transform: translateY(-290px); }
  100% { transform: translateY(0); }
}

.feature-card-holder{
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px 10px;
  animation: feat-slide 9s infinite linear;
}

@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes disappear {
  from { opacity: 1; }
  to { opacity: 0; }
}

.feature-card{
  height: 250px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.feature-card > h2{
  font-size: 20px;
  margin: 25px 0 5px;
}

.feature-card > p{
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.feature-card:hover{
  transition: 300ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#card-icon{
  font-size: 70px;
  color: #1E3A8A;
}







/* DASHBOARD */

.pageLoader{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-pageLoader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-wrapper{
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr;
  overflow: hidden;
  position: relative;
}

.dash-options-panel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1E3A8A;
  padding-bottom: 30px;
}

.dash-logo-area{
  width: 100%;
  height: 70px;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin-bottom: 20px;
}

.dash-logo-area > p{
  color: white;
  font-size: 30px;
  cursor: pointer;
}


.dash-section-options{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dash-option{
  width: 100%;
  height: 50px;
  /* background-color: #0056B3; */
  display: flex;
  align-items: center;
  padding-left: 25px;
  gap: 15px;
}

.dash-option > p{
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.dash-option:hover{
  transition: 200ms;
  cursor: pointer;
  background-color: #0056B3;
}

#option-icon{
  font-size: 26px;
  color: white;
}





.dash-display-area{
  display: flex;
  flex-direction: column;
  /* background-color: bisque; */
  overflow: hidden;
}


.get-loan-section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* background-color: coral; */
  position: relative;
}

.form-progress-section{
  width: 100%;
  min-height: 70px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 40px;
  position: absolute;
  top: 0;
  z-index: 5;
}

.form-progress{
  width: fit-content;
  min-width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: gray;
}

.progress-number{
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loan-mid-section{
  width: 100%;
  height: 100%;
  /* background-color: cadetblue; */
  padding: 80px 40px 120px;
  color: #1E3A8A;
}

.mid-section-wrapper{
  width: 100%;
  height: 100%;
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: auto;
}

.mid-section-overflow{
  width: 100%;
  height: fit-content;
}

.loan-duration{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loan-duration > h4{
  font-size: 18px;
}

.select-duration-wrapper{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.select-duration{
  width: 100px;
  height: 45px;
  border: 1px solid #1E3A8A;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}

.select-duration:hover{
  border: 2px solid #1E3A8A;
}



.dash-bottom-section{
  width: 100%;
  min-height: 110px;
  background-color: aliceblue;
  display: flex;
  align-items: start;
  justify-content: end;
  padding: 10px 40px 0;
  gap: 30px;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

button#dash-bottom-butn{
  min-width: fit-content;
  height: 45px;
  background-color: white;
  border: 2px solid #1E3A8A;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 600;
  color: #1E3A8A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button#dash-bottom-butn:hover{
  transition: 200ms;
  cursor: pointer;
  background-color: #1E3A8A;
  color: white;
}



.loan-input-wrapper{
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column; 
  gap: 10px;
  color: #1E3A8A;
  position: relative;
}

.bank-select-div{
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  position: relative;
}

.bank-select-div:hover{
  cursor: pointer;
  border: 2px solid;
}

#bank-chevron{
  position: absolute;
  right: 15px;
  font-size: 20px;
  
}


@keyframes dropdown {
  from { height: 0; }
  to { height: 280px; }
}

.bank-select-dropdown{
  width: 100%;
  height: 300px;
  border: 1px solid;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 5;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: white;
  animation: dropdown 250ms 1 forwards linear;
}

.bank-option{
  width: 100%;
  height: fit-content;
  padding: 5px 15px;
}

.bank-option:hover{
  background-color: aliceblue;
  cursor: pointer;
}


.loan-input-wrapper > input{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  outline: 1px solid #1E3A8A;
  font-size: 18px;
  color: #1E3A8A;
}

.loan-input-wrapper > input:focus{
  outline: 3px solid #1E3A8A;
}

.loan-input-wrapper > input::placeholder{
  color: #1e3b8a61;
}




/* BANK ACCOUNT SECTION */

.bank-acc-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  color: #1E3A8A;
  /* background-color: #00bc00; */
}

.bank-acc-box-cover{
  width: 100%;
  height: fit-content;
  display: flex;
  padding-top: 50px;
  overflow-y: auto;
}

.bank-acc-box{
  width: 100%;
  height: fit-content;
  padding: 40px 40px 100px;
  display: flex;
  flex-direction: column;
  color: #1E3A8A;
  overflow-y: auto;
  /* background-color: palegoldenrod; */
}


.bank-acc-box > h4{
  font-size: 18px;
}

.add-bank-acc{
  width: 350px;
  height: 100px;
  border: 2px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-bank-acc > p{
  font-size: 40px;
}

.add-bank-acc:hover{
  border: 3px solid;
  cursor: pointer;
}


.acc-type-wrapper{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  /* background-color: pink; */
}

.account-options{
  width: fit-content;
  height: fit-content;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.type-selector{
  width: 100px;
  height: 45px;
  border: 3px solid #1E3A8A;
  border-radius: 5px;
  position: absolute;
  transition: 200ms;
}


.button-loader-div{
  width: 100%;
  height: 100%;
  background-color: #1E3A8A;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.mapped-bank-acc{
  width: 350px;
  height: 100px;
  border: 2px solid;
  border-radius: 5px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  gap: 5px;
  position: relative;
}

.mapped-bank-acc:hover{
  transition: 200ms;
  scale: 1.01;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mapped-bank-acc > p{
  font-size: 18px;
  font-weight: 600;
}

.bank-logo{
  height: 80%;
  width: 60px;
  position: absolute;
  right: 10px;
  z-index: 3;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-left: 8px solid white;
}

.selected-div{
  border: 3px solid #00bc00;
}

.empty-div-70px{
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  /* background-color: beige; */
}

.glitch-screen{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E3A8A;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.add-acc-box{
  width: 100%;
  height: fit-content;
  /* background-color: #fdcd40; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}


p#input-error-message{
  color: red;
  font-size: 12px;
  font-style: italic;
  position: absolute;
  bottom: -18px;
}







.payment-cards-wrapper{
  width: 100%;
  height: 100%;
  /* background-color: #00bc00; */
  color: #1E3A8A;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.payment-cards-wrapper > h4{
  font-size: 18px;
}

.payment-cards-step1{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: aquamarine; */
  padding: 40px;
}

.payment-cards-step2{
  width: 100%;
  height: fit-content;
  padding-bottom: 10px;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.payment-cards-holder{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.payment-card{
  width: 350px;
  height: 180px;
  border: 2px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.payment-card > p{
  font-size: 18px;
  font-weight: 600;
}

.payment-card:hover{
  box-shadow: 0 0 10px #1e3b8a44;
}

span#plus{
  font-size: 25px;
}

.expiry-cvv-wrap{
  width: 400px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
}






/* FAQ */

.faq-page-wrapper{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  padding: 35px;
}

.faq-scroll-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 5px;
  overflow-y: auto;
  /* background-color: #0056B3; */
}

.faq-wrap{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: aqua; */
}

.faq-wrap > h3{
  font-size: 18px;
  color: #1E3A8A;
}

.search-input-wrap{
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
}

input#faq-search{
  width: 400px;
  height: 100%;
  border: none;
  border-radius: 15px;
  outline: 1px solid #0056B3;
  padding: 0 40px;
  font-size: 16px;
  color: #1E3A8A;
  transition: 200ms;
}

input#faq-search::placeholder{
  color: #1E3A8A;
}

input#faq-search:focus{
  outline: 3px solid #1E3A8A;
}

.faq-div{
  width: 100%;
  height: fit-content;
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  transition: 300ms;
}

@keyframes height {
  from {transform: rotateY(90deg);}
  to {transform: rotateY(0deg);}
}

.faq-answer{
  width: 100%;
  height: fit-content;
  animation: height 300ms 1 forwards linear;
}

.faq-answer > p{
  font-size: 15px;
  color: #0056B3;
  line-height: 1.5;
  margin-bottom: 10px;
}

.faq-div-label{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq-div-label > p{
  font-size: 16px;
  font-weight: 600;
  color: #1E3A8A;
}


























/* RESPONSIVENESS */

@media screen and (max-width: 1300px) {
  .main-navbar{
    width: 100%;
  }
  .hero-container{
    width: 100%;
  }
  .why-us-section > p{
    width: 100%;
  }
  .features-wrap{
    width: 100%;
  }
  .form-progress > P{
    font-size: 14px;
  }
  .progress-number{
    width: 25px;
    height: 25px;
    font-size: 13px;
  }
}


@media screen and (max-width: 1050px) {
  .hero-section{
    height: 700px;
  }
  .hero-left{
    width: 420px;
  }
  .hero-left-main > h2{
    font-size: 65px;
  }
  img#hero-lady{
    width: 500px;
  }
  .form-progress > P{
    display: none;
  }
}


@media screen and (max-width: 899px) {
  .main-navbar{
    display: none;
  }
  .tablet-navbar{
    display: flex;
  }
  .main-nav-left > p{
    font-size: 25px;
  }
  .hero-section{
    height: fit-content;
    padding: 80px 40px 0;
  }
  .hero-container{
    height: fit-content;
    flex-direction: column;
  }
  .hero-left{
    width: 100%;
  }
  .hero-right{
    width: 100%;
    height: fit-content;
    justify-content: center;
  }
  img#hero-lady{
    position: relative;
    right: 0;
  }
  .hero-left-main > h2{
    font-size: 50px;
  }
  .features-wrap{
    height: fit-content;
  }
  .feature-card-holder{
    grid-template-columns: 1fr 1fr;
    animation-name: none;
  }
  .dashboard-wrapper{
    grid-template-columns: 1fr;
  }
  .dash-options-panel{
    display: none;
  }
  .form-progress-section{
    min-height: 60px;
    padding-left: 20px;
    top: 70px;
  }
  .loan-mid-section{
    padding: 150px 20px 70px;
  }
  .loan-duration > h4{
    font-size: 16px;
  }
  .select-duration{
    width: 85px;
    height: 40px;
  }
  .select-duration > p{
    font-size: 15px;
  }
  .nav-dash-wrap{
    display: flex;
  }
  .dash-bottom-section{
    min-height: 60px;
    padding: 10px 20px 0;
    gap: 20px;
  }

  button#dash-bottom-butn{
    height: 40px;
    font-size: 16px;
  }
  .bank-acc-wrapper{
    padding-top: 70px;
  }
  .bank-acc-box-cover{
    padding-top: 130px;
  }
  .type-selector{
    width: 85px;
    height: 40px;
  }
  .account-options{
    width: 205px;
    justify-content: space-between;
  }
  .payment-cards-step1{
    padding: 90px 20px 20px;
  }
  .payment-cards-step2{
    padding: 90px 20px 20px;
  }
  .add-acc-box{
    padding: 20px;
  }
  .feature-card{
    animation: 600ms 1 forwards linear;
  }
}


@media screen and (max-width: 520px) {
  .navbar-container{
    padding: 0 20px;
  }
  .tab-navbar-slide{
    width: 100%;
  }

  .hero-section{
    padding: 80px 20px 0;
  }
  .hero-left-main > h2{
    font-size: 40px;
  }
  .hero-left-buttons{
    flex-direction: column;
  }
  #hero-butn{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  img#hero-lady{
    width: 100%;
  }

  .why-us-section{
    padding: 50px 20px 40px;
  }
  .why-us-section > h2{
    font-size: 25px;
  }
  .feature-card-holder{
    grid-template-columns: 1fr;
  }
  .bank-acc-box{
    padding: 20px 20px 70px;
    align-items: center;
  }
  .add-bank-acc{
    width: 100%;
  }
  .mapped-bank-acc{
    width: 100%;
    height: 80px;
    padding: 10px;
  }
  .mapped-bank-acc > p{
    font-size: 16px;
  }
  .loan-input-wrapper{
    width: 100%;
  }
  .acc-type-wrapper{
    flex-direction: column;
    align-items: start;
  }
  .payment-card{
    width: 100%;
  }
  .expiry-cvv-wrap{
    width: 100%;
  }
}
