@font-face {
    font-family: head;
    src: url(./assets/Fonts/Pacifico-Regular.ttf);
}


@font-face {
    font-family: regular;
    src: url(./assets/Fonts/Mulish-VariableFont_wght.ttf);
}





.alert-container{
    width: 600px;
    height: 40px;
    display: flex;
}

.alert-symbol{
    min-width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-message-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}